<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <title>T.F.E</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- COMMON TAGS -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<style>::selection{background: rgba(17, 153, 142, 0.58);color:white;box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);}
.btn:hover{
        transform: scale(1.02);
      }</style>
</head>
<body>
<div class="container">
    <div class="card shadow text-center" style="margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 30px;">
    <div class="card-content" style="margin-top:10px;margin-bottom:10px;">
        <ol>
            <li> BTC: 1JfVKqerYi4Mym2Sq38bvs3dP4GMBA9i9c</li>
            <li> USDT: TBnAxUkMJuYPBCrQBjJbts1XwhTHhE7a2C</li>
            <li> TRX: TBnAxUkMJuYPBCrQBjJbts1XwhTHhE7a2C</li>
            <li> ETH: 0xa08432fa4f906adcd339d160c9102922fbdcd8ca</li>
            <li> BNB: bnb165q9dz39mqh789zuuuqwkv22plut6f4nzy9jc9</li>
            <li> Ecobank: 1441002519446 (Receiver Name: TOFFIC ADAM)</li>
            <li> Vodafone Cash: 0203076025 (Receiver Name: TOFFIC ADAM)</li>
            <li> MTN Mobile Money:</li>
        </ol>
        <br>
        <div class="columns">
            <div class="column w-100"><a href="{{url_for('dashboard')}}" class="btn text-light shadow w-100" style="background-color:#0093E9;">
            Home
        </a></div>
        </div>
    </div>
</div>
</div>
</body>
</html>